/*  your css code here. If applicable */
h1{
	text-align: center;
}
table, td{
	border: 1px solid (0,0,0);
	border-spacing: 1px;
	padding: 1px;
}
#ceil{
	background-color:green;
}
#floor{
	background-color: blue;
}